{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}
<h3>Editar postagens</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/edit" method="POST">
            <input type="hidden" name="id" value="{{postagem._id}}">
            <label for="titulo">Titulo: </label>
                <input type="text" name="titulo" placeholder="Titulo da postagem" class="form-control" value="{{postagem.titulo}}">
            <label for="slug">Slug: </label>
                <input type="text" name="slug" placeholder="Slug da postagem" class="form-control" value="{{postagem.slug}}">
            <label for="descricao">Descrição: </label>
                <input type="text" name="descricao" placeholder="Descrição da postagem" class="form-control" value="{{postagem.descricao}}">
            <label for="conteudo">Conteúdo: </label>
                <textarea name="conteudo" cols="30" rows="10" placeholder="Conteúdo" class="form-control">{{postagem.conteudo}}</textarea>
            <label for="categoria">Categoria: </label>
                <select class="custom-select" name="categoria">
                    {{#each categorias}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                        <option value="0">Não há categoria(s) registrada(s)</option>
                    {{/each}}
                </select>
            <button type="submit" class="btn btn-success mt-3">Editar.</button>
        </form>
    </div>
</div>