<div class="jumbotron">
  <h1 class="display-4">Blog node.js</h1>
  <p class="lead">Este é um blog criado com node.js, nele além do node.js faço o uso de algumas tecnologias como handlebars, mongodb, entre outros </p>
  <hr class="my-4">
  <p>Cadastre-se para saber mais.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cadastrar</a>
</div>
<hr>
<h2>Postagens recentes:</h2>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card card-body">
            <a href="/postagem/{{slug}}"><h3>{{titulo}}</h3></a>
            <p>{{descricao}}</p>
            <hr>
            <small>Categoria: <a href="/categoria/{{categoria.slug}}"><button class="btn btn-outline-info">{{categoria.nome}}</button></a></small>
            <small>Data da ultima atualização: {{date}}</small>
            <a href="/postagem/{{slug}}"><button class="btn btn-success mt-3">Leia mais</button></a>
        </div>
    </div>
    {{else}}
{{/each}}